
@{
    Layout = null;
}
@model WebApplication1.Models.EMail
<!DOCTYPE html>

<title>Quên mật khẩu</title>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuenMatKhau</title>
    <link href="~/reset_password/style.css" rel="stylesheet" />
</head>
<body>
    <div class="elelment">
        <h2>Reset Password</h2>
        <div class="element-main">
            <h4 style="color:green; text-align:center"> @ViewBag.Message</h4>
            <h1>Nhập email</h1>
            @using (Html.BeginForm())
            {

                @Html.TextBoxFor(m => m.To,new { style = "margin-top: 30px;color: black;" } );
                <input type="submit" value="Gửi mã tới email">
            }
         
            
        </div>
    </div>
</body>
</html>
