body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    /* background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
  }

  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: rgb(230, 229, 227) !important;
    background-color: #e40808 !important;
  }

  